


<div id='content'>
  <h1 class='logo2'>Ruby on Rails RoR ecommerce</h1>
  <div class='tagline'>
    <em>e-commerce made easy</em>
  </div>

  <div class=''>
    <em>drhenner@rorecommerce.com</em>
  </div>

  <div class='description'>
    <p>
      <span style="color:#8b1d1d;">RoR Ecommerce started because I wanted a better e-commerce solution.  I didn't like the current Ruby on Rails e-commerce solutions so much I had to write my own.  At the end of the day I hope you enjoy this project.</span>
<br/><br/>
      Start-up costs are very high and I understand that. RoR-e.com’s platform is specifically created to minimize those costs, decrease the time to develop an e-commerce platform in order to start making money and increase the opportunities for success.
<br/><br/>
      <span style="color:#8b1d1d;">Interested in RoR-e.com’s platform? I am currently evaluating potential partnerships and/or professional services opportunities.</span>  Contact me at drhenner@rorecommerce.com.
    </p>
  </div>
  <%= render :partial => '/shared/side_menu' %>
</div>
<div id='layout_footer'></div>