

<div id='content'>
  <h1>Ruby on Rails RoR ecommerce</h1>
  <div class='tagline'>
    <em>e-commerce done right</em>
  </div>

  <div class='description'>
    <p>
      <span style="color:#8b1d1d;">ror_ecommerce is a complete ecommerce platform written completely in Rails 3, and built to scale.</span>

      ror-e.com's goal is simple... to be a complete small business solution.
      We will save you time, effort, resources and most of all, money.  From Purchase Order system, to the Checkout flow, to Getting returns done correctly, this is a solution that will work with your business.

    </p>
    <p>
      View some example sites:
      <div style='padding-left:30px;display:block;'>
        <div>
        <%= link_to(image_tag('logos/tonx_small.png') , 'https://tonx.org/', :style => 'padding:3px;background:#222;display:inline-block;', :alt => 'ruby on rails ecommerce app') %>
        </div>
      </div>

      <div style='padding:10px;margin:10px;'>
        <%= link_to(image_tag('logos/ArcherReed-50px-3.jpg') , 'https://www.trumaker.com', :alt => 'ruby on rails ecommerce app') %>
      </div>
    </p>
  </div>
  <%= render :partial => '/shared/side_menu' %>
</div>
<div id='layout_footer'><span style="color:#8b1d1d;">ror_ecommerce was created and is maintained by <span itemscope itemtype="http://data-vocabulary.org/Person"> David Henner </span>. ror_ecommerce is free software under the MIT license.</span></div>
