<div class="sidebar">
  <div class="block-content" id="intro">
    <%= link_to image_tag( 'logo-e.png', :style => 'width: 270px;'), root_path %>
    <h2><%= link_to "RoR-e blog.", posts_path %></h2>
    <p>RoR-e. This blog contains information we find interesting in the ruby community.  We write about Ruby, Rails and an occasional rant. </p>
  </div><!--block-content

  <div class="block-content"  id="search">
    <%= link_to "Archive", archives_path %>

    <form method="get" action="http://www.google.com/search">
      <fieldset>
        <input name="q" type="text"/>
        <input name="sitesearch" value="http://www.ror-e.com/blog" type="hidden"/>
      </fieldset>
    </form>
  </div> block-content-->

  <div class="block-content"  >
    <%= render :partial => '/shared/side_menu' %>
  </div>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-2098821363894049";
  /* Blog Sidebar */
  google_ad_slot = "5746260607";
  google_ad_width = 120;
  google_ad_height = 240;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div><!--sidebar-->